* {
  font-family: cursive;
}

textarea {
  width: 90%;
  height: 85%;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 0;
  border-radius: 20px;
  outline: none;
  border: none;
  box-sizing: border-box;
  box-shadow: 3px -5px 6px #eee;
  padding: 3%;
  background-color: #fff;
  color: #000;
}

button {
  max-width: 90%;
  margin-left: 5%;
}

.ml {
  margin: 0 auto;
  text-align: center;
}

.showcaser {
  background-color: #47a;
  color: #fff;
}
